<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pac85.club</title>
</head>

<body>
  <div style="text-align: center" class=navbar>
    adepti:
   <a class="Banner-link u-clickable" href="/franc">franc</a>
  </div>

  <div style="text-align: center" class=navbar>
  divinità parallele: 
  <a class="Banner-link u-clickable" href="/kezi">kezi</a>
  </div>

  <div class="content">
	{{content}}	
	</div>


  <div style="text-align: center">
    acchittato da commit crizzi di <a href="http://t.me/chic_luke">chic_luke</a> e <a href="http://t.me/rcastellotti">rcastellotti </a>. ps. pac ti amo
  </div>

</body>

</html>

<style>
  .navbar {
    ul li {

      display: inline;

    }
  }
.content {
  max-width: 800px;
  margin: auto;
}
</style>
